.cert {
  padding-top: 64px;
  padding-bottom: 64px;
}
.inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.certText {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #374151;
  border-radius: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 16px;
}

.certTitle {
  text-align: center;
  font-size: 18px;
  line-height: 156%;
  margin-bottom: 24px;
}

.certInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border-radius: 12px;
  background-color: #1f2937;

  > a {
    transition: transform 0.5s ease;
  }

  &:hover a {
    transform: scale(1.1);
  }

  img {
    width: 320px;
    border-radius: 12px;
  }
}

.ph {
  width: 355px;
}

@media screen and (min-width: 1440px) {
  .cert {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .certInner {
    width: 500px;
    padding: 30px;

    img {
      width: 350px;
    }
  }
  .ph {
    width: 500px;
  }
}
