.techList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 58px;
  li {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;

    svg {
      transition: transform 0.5s ease;
    }

    &:hover svg {
      transform: scale(1.2);
    }
  }
}

.techName {
  text-align: center;
}
