.imgContainer {
  border-radius: 12px 12px 0 0;
  padding: 25px;
  background-color: #374151;
}

.img {
  width: 279px;
  border-radius: 12px;
}

.descContainer {
  border-radius: 0 0 12px 12px;
  padding: 20px;
  background-color: #1f2937;

  .descTitle {
    margin-bottom: 24px;
  }

  .descPh {
    width: 279px;
    margin-bottom: 24px;
  }
}

.techList {
  width: 279px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 24px;
}
.projList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.techListItem {
  padding: 4px 20px;
  border-radius: 12px;
  background-color: #374151;
}

@media screen and (min-width: 1440px) {
  .projList {
    gap: 48px;
    li {
      display: flex;
      justify-content: center;
    }
  }
  .imgContainer {
    border-radius: 12px 0 0 12px;
    padding: 48px;
  }
  .img {
    width: 480px;
    height: 300px;
  }
  .descContainer {
    border-radius: 0 12px 12px 0;
    padding: 48px;

    .descPh {
      width: 480px;
    }

    .descTitle {
      font-weight: 600;
      font-size: 20px;
    }
  }

  .techList {
    width: 480px;
  }

  .projListChangeItem {
    display: flex;
    flex-direction: row-reverse;
  }

  .imgContainerReverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 0 12px 12px 0;
  }
  .descContainerReverse {
    border-radius: 12px 0 0 12px;
  }
}
