.skills {
  padding-top: 64px;
  padding-bottom: 64px;
}

.inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 16px;
}

.skillsText {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $section-bg-color;
  border-radius: 12px;
  padding: 4px 20px;
  margin-bottom: 16px;
}

.ph {
  line-height: 156%;
  font-size: 18px;
  text-align: center;
  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  .skills {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .ph {
    margin-bottom: 48px;
  }
}
