.about {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: $secondary-color;
}

.inner {
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  padding-bottom: 24px;
}
.aboutText {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $section-bg-color;
  border-radius: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 24px;
}

.photoContainer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-radius: 30%;
  width: 280px;
  height: 280px;
  background-color: $section-bg-color;
  margin-bottom: 48px;
}

.photo {
  position: absolute;
  height: 290px;
  bottom: 30px;
  z-index: 1;
}

.ph {
  margin-bottom: 16px;
}

.aboutList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: disc;
  margin: 20px;
}

.listContainer {
  display: flex;
  gap: 30px;
}

@media screen and (min-width: 1440px) {
  .about {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .aboutText {
    margin-bottom: 48px;
  }
  .aboutDesc {
    width: 1200px;

    h2 {
      margin-bottom: 24px;
      text-align: center;
    }
  }
}
