.container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.photoContainer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-radius: 30%;
  width: 280px;
  height: 280px;
  background-color: #374151;
  margin-bottom: 48px;
}

.photo {
  position: absolute;
  height: 290px;
  bottom: 30px;
  z-index: 1;
}

.greet {
  font-weight: 600;
  font-size: 36px;
  line-height: 111%;
  margin-bottom: 8px;
}

.about {
  margin-bottom: 40px;
}

.location {
  display: flex;
  flex-direction: column;

  gap: 8px;

  p {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
.socials {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

.svgLight {
  margin-left: 5px;
}
.wave {
  display: inline-block;
  animation: wave-animation 2.5s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pingWrapper {
  position: relative;
  width: 20px;
  height: 20px;
}

.ping {
  position: absolute;
  top: 4px;
  left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: rgba(34, 197, 94, 0.5);
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  z-index: 0;
}

.svgLight {
  position: relative;
  z-index: 1;
  fill: #22c55e;
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75%,
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
