.work {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #111827;
}
.inner {
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}
.workText {
  background-color: #374151;
  border-radius: 12px;
  padding: 4px 20px;
  margin-bottom: 16px;
}

.ph {
  text-align: center;
  font-size: 18px;
  line-height: 156%;
  margin-bottom: 24px;
}
